.spacer-container {
  width: 100%;
  height: 107px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.spacer-root-class-name {
  height: 118px;
}
.spacer-root-class-name1 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name2 {
  height: 3%;
}
.spacer-root-class-name3 {
  height: 10%;
}
.spacer-root-class-name4 {
  height: 2%;
}
.spacer-root-class-name5 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name6 {
  height: 28px;
}
.spacer-root-class-name7 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name8 {
  height: 55px;
}
.spacer-root-class-name9 {
  height: 55px;
}
.spacer-root-class-name10 {
  height: 28px;
}
.spacer-root-class-name11 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name12 {
  height: 100%;
}
.spacer-root-class-name13 {
  height: 5%;
}
.spacer-root-class-name14 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name15 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name16 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name17 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name18 {
  height: 118px;
}
.spacer-root-class-name19 {
  height: 10%;
}
.spacer-root-class-name20 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name21 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name22 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name23 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name24 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name26 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name27 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name28 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name29 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name30 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name31 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name32 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name33 {
  height: 118px;
}
.spacer-root-class-name34 {
  height: 10%;
}
.spacer-root-class-name35 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name36 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name37 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name38 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name39 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name40 {
  width: 10%;
  height: 100%;
}


.spacer-root-class-name43 {
  height: 118px;
}
.spacer-root-class-name44 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name45 {
  width: 5%;
  height: 10px;
}
.spacer-root-class-name47 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name48 {
  height: 118px;
}
.spacer-root-class-name49 {
  height: 10%;
}
.spacer-root-class-name50 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name51 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name52 {
  width: 10%;
  height: 100%;
}
@media(max-width: 991px) {
  .spacer-root-class-name2 {
    height: 3%;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 1%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name43 {
    height: 1%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
}
@media(max-width: 767px) {
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name4 {
    height: 2%;
  }
  .spacer-root-class-name5 {
    width: 10%;
  }
  .spacer-root-class-name8 {
    height: 55px;
  }
  .spacer-root-class-name9 {
    height: 21px;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 2%;
  }
  .spacer-root-class-name15 {
    width: 10%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name20 {
    width: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name35 {
    width: 10%;
  }
  .spacer-root-class-name43 {
    height: 2%;
  }
  .spacer-root-class-name44 {
    width: 10%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
  .spacer-root-class-name52 {
    width: 10%;
  }
}
@media(max-width: 479px) {
  .spacer-root-class-name {
    height: 3%;
  }
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 22%;
  }
  .spacer-root-class-name4 {
    height: 1%;
  }
  .spacer-root-class-name12 {
    height: 50px;
  }
  .spacer-root-class-name13 {
    height: 3%;
  }
  .spacer-root-class-name18 {
    height: 3%;
  }
  .spacer-root-class-name19 {
    height: 22%;
  }
  .spacer-root-class-name33 {
    height: 3%;
  }
  .spacer-root-class-name34 {
    height: 22%;
  }
  .spacer-root-class-name43 {
    height: 3%;
  }
  .spacer-root-class-name48 {
    height: 3%;
  }
  .spacer-root-class-name49 {
    height: 22%;
  }
}

.christmas-container {
  width: auto;
  height: auto;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #FBFAF6;
}
.christmas-banner {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: row;
  padding-bottom: 28px;
  justify-content: center;
  background-color: #FAC898;
}
.christmas-text {
  width: 929px;
  height: 19px;
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
  text-decoration: none;
}
.christmas-text01 {
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.christmas-text02 {
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.christmas-text03 {
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.christmas-top-container {
  width: 100%;
  height: 921px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #FBFAF6;
  background-image: url("public/playground_assets/christmas%20background-1000h.png");
  background-repeat: inherit;
  background-position: bottom;
}
.christmas-header {
  width: 100%;
  height: 143px;
  display: flex;
  position: relative;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.christmas-image {
  width: 64px;
  height: 64px;
  user-drag: none;
  box-radius: var(--dl-radius-radius-round);
  object-fit: cover;
  transition: 0.3s;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
.christmas-image:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  border-radius: var(--dl-radius-radius-round);
}
.christmas-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.christmas-link {
  display: contents;
}
.christmas-icon {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.christmas-container1 {
  width: auto;
  height: 372px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.christmas-text04 {
  color: var(--dl-color-gray-black);
  width: 75%;
  height: 319px;
  font-size: 6em;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: -1px;
  text-transform: none;
  background-size: 100%;
  text-decoration: none;
}
.christmas-text05 {
  font-style: normal;
  font-weight: 600;
}
.christmas-text06 {
  font-style: normal;
  font-weight: 600;
}
.christmas-text07 {
  font-family: Inter;
}
.christmas-text08 {
  font-family: Inter;
}
.christmas-text14 {
  font-style: normal;
  font-weight: 600;
}
.christmas-link1 {
  display: contents;
}
.christmas-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  text-decoration: none;
}
.christmas-container3 {
  display: flex;
  position: relative;
}
.christmas-button {
  width: 257px;
  height: 62px;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 2;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #FBFAF6;
}
.christmas-button:hover {
  transform: scale(1.08);
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #FAC898;
}
.christmas-button:active {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.christmas-container4 {
  width: 100%;
  height: 1765px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.christmas-container5 {
  width: auto;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.christmas-text15 {
  height: 149px;
  font-size: 2.78rem;
  line-height: 1.2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.christmas-text16 {
  width: 85%;
  font-size: 1.1em;
  align-self: center;
  text-align: left;
  line-height: 1.8;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.christmas-text22 {
  font-weight: 700;
}
.christmas-text27 {
  font-weight: 700;
}
.christmas-text30 {
  font-weight: 700;
}
.christmas-text34 {
  font-style: italic;
}
.christmas-text36 {
  text-decoration: underline;
}
.christmas-text40 {
  font-style: italic;
}
.christmas-text43 {
  height: 149px;
  display: none;
  font-size: 2.78rem;
  line-height: 1.2em;
  padding-bottom: var(--dl-space-space-unit);
}
.christmas-image01 {
  width: 970px;
  height: 601px;
  display: none;
  object-fit: cover;
}
.christmas-gallery {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.christmas-text44 {
  font-size: 2.78rem;
  text-align: center;
}
.christmas-text45 {
  color: var(--dl-color-gray-black);
  font-size: 1.2rem;
  margin-top: 32px;
  text-align: center;
  padding-left: 48px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.christmas-container6 {
  width: 100%;
  height: 619px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.christmas-image02 {
  width: 100%;
  height: 313px;
  object-fit: cover;
}
.christmas-image03 {
  width: 100%;
  height: 313px;
  object-fit: cover;
}
.christmas-image04 {
  width: 100%;
  height: 314px;
  object-fit: cover;
}
.christmas-image05 {
  width: 100%;
  height: 312px;
  object-fit: cover;
}
.christmas-image06 {
  width: 100%;
  height: 295px;
  object-fit: cover;
}
.christmas-image07 {
  width: 100%;
  height: 299px;
  object-fit: cover;
}
.christmas-image08 {
  width: 100%;
  height: 298px;
  object-fit: cover;
}
.christmas-image09 {
  width: 100%;
  height: 299px;
  object-fit: cover;
}
.christmas-text46 {
  font-size: 2.78rem;
  text-align: center;
  padding-top: var(--dl-space-space-unit);
}
.christmas-text47 {
  width: 221px;
  font-size: 2.78rem;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
}
.christmas-text48 {
  max-width: 80%;
  align-self: flex-start;
  text-align: center;
  padding-left: 5em;
}
.christmas-button1 {
  width: 257px;
  height: 62px;
  display: none;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 3;
  padding-top: 0rem;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding-bottom: 0rem;
  text-decoration: none;
  background-color: #FAC898;
}
.christmas-button1:hover {
  transform: scale(1.08);
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.christmas-button1:active {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.christmas-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 180px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  overflow-y: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.christmas-menu {
  width: 859px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.christmas-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.christmas-link3 {
  display: contents;
}
.christmas-logo {
  opacity: 85%;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 550;
  text-decoration: none;
}
.christmas-logo:hover {
  opacity: 100%;
}
.christmas-text50 {
  font-family: Inter;
}
.christmas-text51 {
  font-family: Inter;
}
.christmas-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.christmas-text53 {
  width: 8em;
  opacity: 75%;
}
.christmas-link4 {
  display: contents;
}
.christmas-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  opacity: 70%;
  transition: 0.3s;
}
.christmas-icon2:hover {
  opacity: 100%;
}
@media(max-width: 991px) {
  .christmas-container {
    max-width: auto;
    max-height: auto;
  }
  .christmas-banner {
    height: 65px;
  }
  .christmas-text {
    height: 27px;
    text-align: center;
  }
  .christmas-top-container {
    height: 698px;
  }
  .christmas-container1 {
    height: 316px;
  }
  .christmas-text04 {
    width: 80%;
    height: 269px;
    font-size: 5em;
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
  }
  .christmas-container4 {
    height: 2256px;
  }
  .christmas-container5 {
    height: 122px;
  }
  .christmas-text15 {
    height: 139px;
  }
  .christmas-text16 {
    max-width: 100%;
    line-height: 1.8;
    padding-top: var(--dl-space-space-unit);
  }
  .christmas-text43 {
    height: 85px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .christmas-image01 {
    width: 703px;
    height: 353px;
  }
  .christmas-gallery {
    height: 1337px;
  }
  .christmas-text45 {
    text-align: center;
  }
  .christmas-container6 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .christmas-text47 {
    height: 132px;
  }
  .christmas-text48 {
    max-width: 100%;
  }
  .christmas-footer {
    height: 123px;
  }
}
@media(max-width: 767px) {
  .christmas-container {
    max-width: auto;
    max-height: auto;
  }
  .christmas-banner {
    height: 71px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .christmas-text {
    height: 32px;
    text-align: left;
  }
  .christmas-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .christmas-container1 {
    height: 403px;
  }
  .christmas-text04 {
    width: 519px;
    height: 369px;
    font-size: 5em;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.4;
  }
  .christmas-container4 {
    height: 2671px;
  }
  .christmas-text16 {
    font-size: 1.1em;
    line-height: 1.8;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .christmas-image01 {
    width: 100%;
  }
  .christmas-gallery {
    height: 1462px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .christmas-text45 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .christmas-container6 {
    grid-template-columns: 1fr 1fr;
  }
  .christmas-text48 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .christmas-footer {
    height: 144px;
  }
  .christmas-menu {
    width: 648px;
    height: 81px;
    flex-direction: column;
  }
  .christmas-logo {
    width: 243px;
    align-self: center;
    text-align: center;
  }
  .christmas-container8 {
    width: 139px;
    height: 28px;
  }
  .christmas-icon2 {
    width: 29px;
  }
}
@media(max-width: 479px) {
  .christmas-container {
    max-width: auto;
    max-height: auto;
  }
  .christmas-banner {
    height: 101px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .christmas-text {
    width: 357px;
    height: 60px;
    text-align: left;
    line-height: 1.3;
  }
  .christmas-top-container {
    height: 623px;
  }
  .christmas-header {
    padding: var(--dl-space-space-unit);
  }
  .christmas-icon-group {
    display: none;
  }
  .christmas-container1 {
    height: 208px;
  }
  .christmas-text04 {
    width: 338px;
    height: 189px;
    font-size: 3.2em;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
  }
  .christmas-button {
    margin-top: var(--dl-space-space-tripleunit);
  }
  .christmas-container4 {
    height: 4148px;
  }
  .christmas-text15 {
    width: 316px;
    height: 137px;
    font-size: 2.2em;
    align-self: center;
    text-align: center;
    padding-bottom: 1em;
  }
  .christmas-text16 {
    font-size: 1em;
    padding-top: var(--dl-space-space-unit);
  }
  .christmas-text43 {
    width: 90%;
    height: 137px;
    align-self: center;
    text-align: center;
    padding-bottom: 1em;
  }
  .christmas-image01 {
    width: 100%;
    height: auto;
  }
  .christmas-gallery {
    height: 2769px;
    padding: var(--dl-space-space-unit);
  }
  .christmas-container6 {
    grid-template-columns: 1fr;
  }
  .christmas-text46 {
    height: 76px;
    font-size: 2em;
  }
  .christmas-text47 {
    font-size: 2em;
  }
  .christmas-footer {
    height: 225px;
  }
  .christmas-logo {
    width: 235px;
  }
}
