.spacer-container {
  width: 100%;
  height: 107px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.spacer-root-class-name {
  height: 118px;
}
.spacer-root-class-name1 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name2 {
  height: 3%;
}
.spacer-root-class-name3 {
  height: 10%;
}
.spacer-root-class-name4 {
  height: 2%;
}
.spacer-root-class-name5 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name6 {
  height: 28px;
}
.spacer-root-class-name7 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name8 {
  height: 55px;
}
.spacer-root-class-name9 {
  height: 55px;
}
.spacer-root-class-name10 {
  height: 28px;
}
.spacer-root-class-name11 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name12 {
  height: 100%;
}
.spacer-root-class-name13 {
  height: 5%;
}
.spacer-root-class-name14 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name15 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name16 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name17 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name18 {
  height: 118px;
}
.spacer-root-class-name19 {
  height: 10%;
}
.spacer-root-class-name20 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name21 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name22 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name23 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name24 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name26 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name27 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name28 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name29 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name30 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name31 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name32 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name33 {
  height: 118px;
}
.spacer-root-class-name34 {
  height: 10%;
}
.spacer-root-class-name35 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name36 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name37 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name38 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name39 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name40 {
  width: 10%;
  height: 100%;
}


.spacer-root-class-name43 {
  height: 118px;
}
.spacer-root-class-name44 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name45 {
  width: 5%;
  height: 10px;
}
.spacer-root-class-name47 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name48 {
  height: 118px;
}
.spacer-root-class-name49 {
  height: 10%;
}
.spacer-root-class-name50 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name51 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name52 {
  width: 10%;
  height: 100%;
}
@media(max-width: 991px) {
  .spacer-root-class-name2 {
    height: 3%;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 1%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name43 {
    height: 1%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
}
@media(max-width: 767px) {
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name4 {
    height: 2%;
  }
  .spacer-root-class-name5 {
    width: 10%;
  }
  .spacer-root-class-name8 {
    height: 55px;
  }
  .spacer-root-class-name9 {
    height: 21px;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 2%;
  }
  .spacer-root-class-name15 {
    width: 10%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name20 {
    width: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name35 {
    width: 10%;
  }
  .spacer-root-class-name43 {
    height: 2%;
  }
  .spacer-root-class-name44 {
    width: 10%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
  .spacer-root-class-name52 {
    width: 10%;
  }
}
@media(max-width: 479px) {
  .spacer-root-class-name {
    height: 3%;
  }
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 22%;
  }
  .spacer-root-class-name4 {
    height: 1%;
  }
  .spacer-root-class-name12 {
    height: 50px;
  }
  .spacer-root-class-name13 {
    height: 3%;
  }
  .spacer-root-class-name18 {
    height: 3%;
  }
  .spacer-root-class-name19 {
    height: 22%;
  }
  .spacer-root-class-name33 {
    height: 3%;
  }
  .spacer-root-class-name34 {
    height: 22%;
  }
  .spacer-root-class-name43 {
    height: 3%;
  }
  .spacer-root-class-name48 {
    height: 3%;
  }
  .spacer-root-class-name49 {
    height: 22%;
  }
}

.coming-soon-container {
  width: auto;
  height: auto;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FBFAF6;
}
.coming-soon-top-container {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #FBFAF6;
  background-image: url("public/playground_assets/13_dwx0cmf2aw9szxrfymfja2ryb3atmde-1000h.jpg");
  background-repeat: inherit;
  background-position: center;
}
.coming-soon-banner {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: row;
  padding-bottom: 28px;
  justify-content: center;
  background-color: #FAC898;
}
.coming-soon-text {
  width: 413px;
  height: 19px;
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.coming-soon-navlink {
  display: contents;
}
.coming-soon-text01 {
  height: 19px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 600;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.coming-soon-text01:hover {
  text-decoration: underline;
}
.coming-soon-header {
  width: 100%;
  height: 163px;
  display: flex;
  position: relative;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.coming-soon-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.coming-soon-nav {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 60px;
  flex-direction: row;
  justify-content: center;
}
.coming-soon-text02 {
  display: none;
  margin-left: 32px;
}
.coming-soon-text03 {
  display: none;
  margin-left: 32px;
}
.coming-soon-icon {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.coming-soon-icon2 {
  width: 16px;
  height: 16px;
  display: none;
}
.coming-soon-text04 {
  color: var(--dl-color-gray-white);
  height: 131px;
  font-size: 7em;
  font-style: normal;
  font-weight: 600;
}
.coming-soon-text07 {
  font-family: Inter;
}
.coming-soon-text08 {
  font-family: Inter;
}
.coming-soon-text15 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  max-width: 75%;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.coming-soon-text16 {
  text-align: center;
}
@media(max-width: 991px) {
  .coming-soon-container {
    max-width: auto;
    max-height: auto;
  }
  .coming-soon-top-container {
    height: 969px;
  }
  .coming-soon-text {
    text-align: center;
  }
  .coming-soon-text01 {
    text-align: center;
  }
  .coming-soon-text04 {
    height: 119px;
    font-size: 7em;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 767px) {
  .coming-soon-container {
    max-width: auto;
    max-height: auto;
  }
  .coming-soon-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .coming-soon-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .coming-soon-nav {
    display: none;
  }
  .coming-soon-icon2 {
    display: flex;
  }
  .coming-soon-text04 {
    height: 83px;
    font-size: 5rem;
    text-align: center;
  }
  .coming-soon-text15 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .coming-soon-container {
    max-width: auto;
    max-height: auto;
  }
  .coming-soon-banner {
    height: 72px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .coming-soon-text {
    width: 283px;
    height: 39px;
    text-align: left;
    line-height: 1.3;
  }
  .coming-soon-text01 {
    width: 102px;
    height: 35px;
    text-align: left;
  }
  .coming-soon-header {
    padding: var(--dl-space-space-unit);
  }
  .coming-soon-icon-group {
    display: none;
  }
  .coming-soon-text04 {
    height: 109px;
    font-size: 4rem;
    font-style: normal;
    text-align: center;
    font-weight: 700;
  }
  .coming-soon-text15 {
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
