.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  font-weight: 700;
}
.navigation-links-navlink1 {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  font-weight: 700;
}
.navigation-links-navlink2 {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  font-weight: 700;
}
.navigation-links-text1 {
  margin-left: 32px;
}












@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.new-naw-container {
  width: 100%;
  height: 130px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.new-naw-header {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 95%;
  align-self: center;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.new-naw-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.new-naw-navlink {
  display: contents;
}
.new-naw-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.new-naw-image:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  border-radius: Round;
}
.new-naw-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.new-naw-container1 {
  width: 75%;
  height: 73px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.new-naw-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-naw-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new-naw-button {
  font-size: 1em;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.new-naw-button:hover {
  background-color: #FAC898;
}
.new-naw-link {
  display: contents;
}
.new-naw-icon {
  width: 16px;
  height: 16px;
  display: none;
  margin-right: 32px;
  text-decoration: none;
}
.new-naw-button1 {
  font-size: 1em;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.new-naw-button1:hover {
  background-color: #FAC898;
}
.new-naw-button2 {
  font-size: 1em;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: rgba(0, 0, 0, 0);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: transparent;
}
.new-naw-button2:hover {
  background-color: #FAC898;
}
.new-naw-link1 {
  display: contents;
}
.new-naw-icon02 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.new-naw-menu-burger {
  display: none;
}
.new-naw-icon04 {
  width: 16px;
  height: 16px;
  display: none;
}
.new-naw-menu-mobile {
  display: none;
}
.new-naw-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.new-naw-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.new-naw-image1 {
  height: 2rem;
}
.new-naw-icon06 {
  width: 16px;
  height: 16px;
}
.new-naw-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.new-naw-icon10 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.new-naw-icon12 {
  width: 16px;
  height: 16px;
}


.new-naw-root-class-name2 {
  height: 100%;
}
@media(max-width: 991px) {
  .new-naw-icon {
    display: none;
  }
  .new-naw-icon02 {
    display: flex;
  }
  .new-naw-icon04 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .new-naw-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .new-naw-nav {
    display: none;
  }
  .new-naw-icon {
    display: none;
  }
  .new-naw-icon02 {
    display: none;
  }
  .new-naw-menu-burger {
    display: flex;
  }
}
@media(max-width: 479px) {
  .new-naw-header {
    padding: var(--dl-space-space-unit);
  }
  .new-naw-icon-group {
    display: none;
  }
  .new-naw-button {
    display: none;
  }
  .new-naw-icon {
    display: flex;
  }
  .new-naw-button1 {
    display: none;
  }
  .new-naw-button2 {
    display: none;
  }
  .new-naw-menu-mobile {
    display: none;
    padding: 16px;
  }
}

.spacer-container {
  width: 100%;
  height: 107px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.spacer-root-class-name {
  height: 118px;
}
.spacer-root-class-name1 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name2 {
  height: 3%;
}
.spacer-root-class-name3 {
  height: 10%;
}
.spacer-root-class-name4 {
  height: 2%;
}
.spacer-root-class-name5 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name6 {
  height: 28px;
}
.spacer-root-class-name7 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name8 {
  height: 55px;
}
.spacer-root-class-name9 {
  height: 55px;
}
.spacer-root-class-name10 {
  height: 28px;
}
.spacer-root-class-name11 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name12 {
  height: 100%;
}
.spacer-root-class-name13 {
  height: 5%;
}
.spacer-root-class-name14 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name15 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name16 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name17 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name18 {
  height: 118px;
}
.spacer-root-class-name19 {
  height: 10%;
}
.spacer-root-class-name20 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name21 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name22 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name23 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name24 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name26 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name27 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name28 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name29 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name30 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name31 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name32 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name33 {
  height: 118px;
}
.spacer-root-class-name34 {
  height: 10%;
}
.spacer-root-class-name35 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name36 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name37 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name38 {
  width: 10%;
  height: 0px;
}
.spacer-root-class-name39 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name40 {
  width: 10%;
  height: 100%;
}


.spacer-root-class-name43 {
  height: 118px;
}
.spacer-root-class-name44 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name45 {
  width: 5%;
  height: 10px;
}
.spacer-root-class-name47 {
  height: 50px;
  background-color: #FBFAF6;
}
.spacer-root-class-name48 {
  height: 118px;
}
.spacer-root-class-name49 {
  height: 10%;
}
.spacer-root-class-name50 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name51 {
  width: 10%;
  height: 100%;
}
.spacer-root-class-name52 {
  width: 10%;
  height: 100%;
}
@media(max-width: 991px) {
  .spacer-root-class-name2 {
    height: 3%;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 1%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name43 {
    height: 1%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
}
@media(max-width: 767px) {
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 10%;
  }
  .spacer-root-class-name4 {
    height: 2%;
  }
  .spacer-root-class-name5 {
    width: 10%;
  }
  .spacer-root-class-name8 {
    height: 55px;
  }
  .spacer-root-class-name9 {
    height: 21px;
  }
  .spacer-root-class-name10 {
    height: 28px;
  }
  .spacer-root-class-name13 {
    height: 2%;
  }
  .spacer-root-class-name15 {
    width: 10%;
  }
  .spacer-root-class-name19 {
    height: 10%;
  }
  .spacer-root-class-name20 {
    width: 10%;
  }
  .spacer-root-class-name34 {
    height: 10%;
  }
  .spacer-root-class-name35 {
    width: 10%;
  }
  .spacer-root-class-name43 {
    height: 2%;
  }
  .spacer-root-class-name44 {
    width: 10%;
  }
  .spacer-root-class-name49 {
    height: 10%;
  }
  .spacer-root-class-name52 {
    width: 10%;
  }
}
@media(max-width: 479px) {
  .spacer-root-class-name {
    height: 3%;
  }
  .spacer-root-class-name2 {
    height: auto;
  }
  .spacer-root-class-name3 {
    height: 22%;
  }
  .spacer-root-class-name4 {
    height: 1%;
  }
  .spacer-root-class-name12 {
    height: 50px;
  }
  .spacer-root-class-name13 {
    height: 3%;
  }
  .spacer-root-class-name18 {
    height: 3%;
  }
  .spacer-root-class-name19 {
    height: 22%;
  }
  .spacer-root-class-name33 {
    height: 3%;
  }
  .spacer-root-class-name34 {
    height: 22%;
  }
  .spacer-root-class-name43 {
    height: 3%;
  }
  .spacer-root-class-name48 {
    height: 3%;
  }
  .spacer-root-class-name49 {
    height: 22%;
  }
}

.home-container {
  width: auto;
  height: auto;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #FBFAF6;
}
.home-banner {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: row;
  padding-bottom: 28px;
  justify-content: center;
  background-color: #FAC898;
}
.home-text {
  width: 80%;
  height: 19px;
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-text01 {
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-text02 {
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.home-text03 {
  font-family: Inter;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.home-top-container {
  width: 100%;
  height: 921px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-color: #FBFAF6;
  background-image: url("public/playground_assets/2b%20ecer%20background-7-1000h.jpg");
  background-repeat: inherit;
  background-position: center;
}
.home-container1 {
  width: auto;
  height: 467px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 263px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-content-container {
  height: 443px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  color: var(--dl-color-gray-black);
  height: 155px;
  font-size: 7em;
  font-style: normal;
  text-align: center;
  letter-spacing: -1px;
  background-size: 100%;
}
.home-text05 {
  font-style: normal;
  font-weight: 600;
}
.home-text06 {
  font-style: normal;
  font-weight: 600;
}
.home-text07 {
  font-family: Inter;
}
.home-text08 {
  font-family: Inter;
}
.home-text14 {
  font-style: normal;
  font-weight: 600;
}
.home-text15 {
  font-size: 26px;
  max-width: 75%;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-text16 {
  text-align: center;
}
.home-button {
  width: 257px;
  height: 62px;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 3;
  padding-top: 0rem;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding-bottom: 0rem;
  text-decoration: none;
  background-color: #FBFAF6;
}
.home-button:hover {
  transform: scale(1.08);
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.home-button:active {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-about {
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  background-color: #FBFAF6;
}
.home-text17 {
  font-size: 38px;
  font-family: Inter;
}
.home-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 180px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  overflow-y: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-menu {
  width: 859px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-logo {
  opacity: 85%;
  font-style: normal;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 550;
  text-decoration: none;
}
.home-logo:hover {
  opacity: 100%;
}
.home-text18 {
  font-family: Inter;
}
.home-text19 {
  font-family: Inter;
}
.home-text20 {
  text-align: center;
}
.home-container4 {
  height: 57px;
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.home-text21 {
  opacity: 70%;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21:hover {
  opacity: 100%;
  text-decoration: underline;
}
.home-text22 {
  opacity: 70%;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-text22:hover {
  opacity: 100%;
  text-decoration: underline;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text23 {
  width: 8em;
  opacity: 75%;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-link {
  display: contents;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  opacity: 70%;
  transition: 0.3s;
}
.home-icon:hover {
  opacity: 100%;
}
@media(max-width: 991px) {
  .home-container {
    max-width: auto;
    max-height: auto;
  }
  .home-text {
    text-align: center;
  }
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-text04 {
    height: 123px;
    font-size: 5.4em;
  }
}
@media(max-width: 767px) {
  .home-container {
    max-width: auto;
    max-height: auto;
  }
  .home-banner {
    height: 62px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text {
    width: 412px;
    height: 30px;
  }
  .home-hero {
    justify-content: center;
  }
  .home-content-container {
    align-items: center;
  }
  .home-text04 {
    width: 508px;
    height: 177px;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }
  .home-text15 {
    text-align: center;
  }
  .home-about {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-footer {
    height: 231px;
  }
  .home-menu {
    width: 648px;
    height: 147px;
    flex-direction: column;
  }
  .home-logo {
    width: 243px;
    align-self: center;
  }
  .home-container4 {
    width: 185px;
    margin-left: 0px;
  }
  .home-container5 {
    width: 222px;
    height: 34px;
  }
  .home-text23 {
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-icon {
    width: 29px;
  }
}
@media(max-width: 479px) {
  .home-container {
    max-width: auto;
    max-height: auto;
  }
  .home-banner {
    height: 94px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text {
    width: 357px;
    height: 56px;
    text-align: left;
    line-height: 1.3;
  }
  .home-top-container {
    height: 688px;
  }
  .home-hero {
    width: auto;
    height: auto;
    max-width: auto;
  }
  .home-text04 {
    width: 272px;
    height: 182px;
    font-size: 4.2em;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
  }
  .home-text15 {
    font-size: 20px;
    max-width: 80%;
  }
  .home-footer {
    height: 225px;
  }
  .home-logo {
    width: 235px;
  }
  .home-container4 {
    width: 119px;
  }
  .home-text21 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text22 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}
