.button-container {
  display: flex;
  position: relative;
}
.button-button {
  width: 257px;
  height: 62px;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 2;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #FBFAF6;
}
.button-button:hover {
  transform: scale(1.08);
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #FAC898;
}
.button-button:active {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .button-button {
    margin-top: var(--dl-space-space-tripleunit);
  }
}
