<div>
  <link href="./club-card.css" rel="stylesheet" />
  <div class="club-card-container">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1514924013411-cbf25faa35bb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000"
      class="club-card-image"
    />
    <div class="club-card-container1">
      <span class="club-card-text"><span>City Name</span></span>
      <span class="club-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <a
        href="https://classroom.google.com"
        target="_blank"
        rel="noreferrer noopener"
        class="club-card-link button"
      >
        <span>Learn More</span>
      </a>
    </div>
  </div>
</div>
