.hero\ c-t-a-container {
  display: flex;
  position: relative;
  border-radius: 15px;
}
.hero\ c-t-a-button {
  width: 257px;
  height: 62px;
  font-size: 21px;
  align-self: center;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 3;
  border-radius: 15px;
  text-decoration: none;
  background-color: #FBFAF6;
}
.hero\ c-t-a-button:hover {
  color: var(--dl-color-gray-black);
  transform: scale(1.08);
}
.hero\ c-t-a-button:active {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
