.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  font-weight: 700;
}
.navigation-links-navlink1 {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  font-weight: 700;
}
.navigation-links-navlink2 {
  transition: 0.3s;
  font-weight: 400;
  margin-left: 32px;
  margin-right: 32px;
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  font-weight: 700;
}
.navigation-links-text1 {
  margin-left: 32px;
}












@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
