<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <span class="navigation-links-text"><span></span></span>
    <a href="home-beta.html" class="navigation-links-navlink">
      <span>Home</span>
    </a>
    <a href="events.html" class="navigation-links-navlink1">
      <span>Events</span>
    </a>
    <a href="clubs.html" class="navigation-links-navlink2">
      <span>Explore Clubs</span>
    </a>
    <span class="navigation-links-text1"><span></span></span>
  </nav>
</div>
